DADM/DADM.VC.VC.opendb
DADM/DADM.VC.db
DADM/Win32/
DADM/DADM/Debug/
DADM/DADM/GeneratedFiles/
DADM/DADM/DADM.vcxproj.user
DADM/DADM/Release/
DADM/.vs/
x64/DADM/DADM/GeneratedFiles/
x64/DADM/DADM/x64/
x64/DADM/x64/
x64/DADM/DADM/DADM.vcxproj.user
x64/DADM/DADM.VC.VC.opendb
x64/DADM/DADM.VC.db
x64/DADM/DADM.sdf
x64/DADM/DADM.opensdf
x64/DADM/.vs/
x64/DADM/DADM/DADM.vcxproj
x64/DADM/x64/Debug/DADM.pdb
x64/DADM/DADM/DADM.vcxproj.filters