DADM/DADM.VC.VC.opendb
DADM/DADM.VC.db
DADM/Win32/
DADM/DADM/Debug/
DADM/DADM/GeneratedFiles/
DADM/DADM/DADM.vcxproj.user
DADM/DADM/Release/
DADM/.vs/DADM/v14/
x64/DADM/DADM/GeneratedFiles/
x64/DADM/DADM/x64/
x64/DADM/x64/
x64/DADM/DADM/DADM.vcxproj.user
x64/DADM/DADM.VC.VC.opendb
x64/DADM/DADM.VC.db
*.vcxproj*